:root {
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --primary-font-color: #212121;
  --secondary-font-color: #757575;
  --extra-font-color: #ffffff;
  --primary-bgc: #ffffff;
  --hero-bgc: #2f303a;
  --footer-bgc: #2f303a;
  --extra-bgc: #f5f4fa;
  --accent-color: #2196f3;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.address {
  font-style: normal;
}
body {
  background-color: var(--primary-bgc);
  font-family: var(--primary-font);
  color: var(--primary-font-color);
}

/* header-styles */

.header {
  background-color: var(--primary-bgc);
}
.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.header-logo {
  color: var(--primary-font-color);
}
.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-font-color);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}
.nav-link.current {
  color: var(--accent-color);
}
.header-mail-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-font-color);
}
.header-mail-link:hover,
.header-mail-link:focus {
  color: var(--accent-color);
}
.header-tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-font-color);
}
.header-tel-link:hover,
.header-tel-link:focus {
  color: var(--accent-color);
}

/* studio-sections-styles */

.hero {
  background-color: var(--hero-bgc);
  text-align: center;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--extra-font-color);
}
.hero-modal-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--extra-font-color);
  background-color: var(--accent-color);
  cursor: pointer;
}
.about-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-font-color);
}
.about-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-font-color);
}
.occupation-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-font-color);
}
.our-team {
  background-color: var(--extra-bgc);
}
.team-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-font-color);
}
.team-item {
  background-color: var(--primary-bgc);
}
.team-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-font-color);
}
.team-item-text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-font-color);
}

/* portfolio-sections-styles */

.modal-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-font-color);
  background-color: #f5f4fa;
  cursor: pointer;
}
.modal-button:hover,
.modal-button:focus {
  color: var(--extra-font-color);
  background-color: var(--accent-color);
}
.portfolio-item-title {
  font-style: normal;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-font-color);
}
.portfolio-item-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-font-color);
}

/* footer-styles */

.footer {
  background-color: var(--footer-bgc);
}
.footer-logo {
  color: var(--extra-font-color);
}
.address-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--extra-font-color);
}
.footer-mail-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-mail-link:hover,
.footer-mail-link:focus {
  color: var(--accent-color);
}
.footer-tel-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-tel-link:hover,
.footer-tel-link:focus {
  color: var(--accent-color);
}
